.button {
  cursor: pointer;

  &-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.scale {
    transition: transform 200ms;

    &:hover {
      transform: scale(1.3);
    }
  }

  &.bold {
    font-weight: 700;
    font-size: 14px;
  }

  &.primary {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
    color: var(--contrast-color);
    height: var(--control-height);
    background-color: var(--primary);
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    transition: all 380ms;

    &:hover {
      color: var(--primary);
      background-color: var(--white);
    }
  }

  &.outlined {
    text-transform: uppercase;
    color: var(--contrast-color);
    min-width: 100px;
    padding: 10px 20px;
    border: 1px solid var(--contrast-color);
    border-radius: 5px;

    &:hover {
      padding: 9px 19px;
      border-width: 2px;
    }
  }

  &.contrast {
    text-transform: uppercase;
    color: var(--primary);
    min-width: 100px;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    border-radius: 5px;

    &:hover {
      padding: 9px 19px;
      border-width: 2px;
    }
  }

  &.icon {
    font-size: 0;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  &.small {
    font-size: 12px;
    font-weight: 400;
    height: 28px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

